In [144]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import StandardScaler
from sklearn.impute import KNNImputer

In [145]:
diseases = pd.read_csv('proj-data.csv')

hyperthyroid_conditions = ['A', 'B', 'C', 'D']
hypothyroid_conditions = ['E', 'F', 'G', 'H']
binding_protein = ['I', 'J']
general_health = ['K']
replacement_therapy = ['L', 'M', 'N']
discordant_results = ['R']

for d in range(len(diseases)):
    if diseases.at[d, "diagnoses"] in hyperthyroid_conditions :
        diseases.at[d, "diagnoses"] = 1
    elif diseases.at[d, "diagnoses"] in hypothyroid_conditions :
        diseases.at[d, "diagnoses"] = 2
    elif diseases.at[d, "diagnoses"] in binding_protein :
        diseases.at[d, "diagnoses"] = 3
    elif diseases.at[d, "diagnoses"] in general_health :
        diseases.at[d, "diagnoses"] = 4
    elif diseases.at[d, "diagnoses"] in replacement_therapy :
        diseases.at[d, "diagnoses"] = 5
    elif diseases.at[d, "diagnoses"] in discordant_results :
        diseases.at[d, "diagnoses"] = 6
    elif diseases.at[d, "diagnoses"] == "-" :
        diseases.at[d, "diagnoses"] = 7 # no condition
    else:
        diseases.at[d, "diagnoses"] = 8 # others

diseases.drop('referral source:',axis=1, inplace=True) # I think this is not relevant TODO check to make sure (assign an int to each source)

diseases.replace('?', np.nan, inplace=True)
diseases.replace('f', 0, inplace=True)
diseases.replace('t', 1, inplace=True)
diseases.replace('F', 0, inplace=True)
diseases.replace('M', 1, inplace=True)

diseases

C:\Users\anton\AppData\Local\Temp\ipykernel_3492\1136485588.py:30: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  diseases.replace('?', np.nan, inplace=True)
C:\Users\anton\AppData\Local\Temp\ipykernel_3492\1136485588.py:32: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  diseases.replace('t', 1, inplace=True)
C:\Users\anton\AppData\Local\Temp\ipykernel_3492\1136485588.py:34: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  diseases.replace('M', 1, inplace=True)

,age:,sex:,on thyroxine:,query on thyroxine:,on antithyroid medication:,sick:,pregnant:,thyroid surgery:,I131 treatment:,query hypothyroid:,...,TT4 measured:,TT4:,T4U measured:,T4U:,FTI measured:,FTI:,TBG measured:,TBG:,diagnoses,[record identification]
0,29,0.0,0,0,0,0,0,0,0,1,...,0,NaN,0,NaN,0,NaN,0,NaN,7,[861106018]
1,29,0.0,0,0,0,0,0,0,0,0,...,1,128,0,NaN,0,NaN,0,NaN,7,[860916073]
2,36,0.0,0,0,0,0,0,0,0,0,...,0,NaN,0,NaN,0,NaN,1,26,7,[850726049]
3,60,0.0,0,0,0,0,0,0,0,0,...,0,NaN,0,NaN,0,NaN,1,26,7,[861010020]
4,77,0.0,0,0,0,0,0,0,0,0,...,0,NaN,0,NaN,0,NaN,1,21,7,[860324074]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7333,56,1.0,0,0,0,0,0,0,0,0,...,1,64,1,0.83,1,77,0,NaN,7,[850725042]
7334,22,1.0,0,0,0,0,0,0,0,0,...,1,91,1,0.92,1,99,0,NaN,7,[840816047]
7335,69,1.0,0,0,0,0,0,0,0,0,...,1,113,1,1.27,1,89,0,NaN,3,[840910050]
7336,47,0.0,0,0,0,0,0,0,0,0,...,1,75,1,0.85,1,88,0,NaN,7,[860317010]
7337,31,1.0,0,0,0,0,0,0,0,1,...,1,66,1,1.02,1,65,0,NaN,7,[861208018]

In [146]:

col_names = np.array(diseases.columns)[0:28]

print("os nomes das colunas são: ", col_names)

#Define columns for X and Y TODO change to use all data instead of 500 collumns
X = diseases.values[:,:27]
y = diseases.values[:,28]


#SPLIT INTO TRAIN AND TEST DATA
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=22)

#Transforms the y train and test into 1 dimensional arrays
y_train = y_train.squeeze().ravel().astype('int')
y_test = y_test.squeeze().ravel().astype('int')


#SCALING
scaler = StandardScaler()
scaler.fit(X_train)
Xs_train=scaler.fit_transform(X_train)
Xs_test=scaler.fit_transform(X_test)
# Não é usado

#IMPUTER
imputer = KNNImputer(weights="uniform")
imputer.fit(X_train)
Xi_train = imputer.transform(X_train)
Xi_test = imputer.transform(X_test)

print(len(Xi_train), ' vs ', len(X_train))
print(len(Xi_test), ' vs ', len(X_test))

os nomes das colunas são:  ['age:' 'sex:' 'on thyroxine:' 'query on thyroxine:'
 'on antithyroid medication:' 'sick:' 'pregnant:' 'thyroid surgery:'
 'I131 treatment:' 'query hypothyroid:' 'query hyperthyroid:' 'lithium:'
 'goitre:' 'tumor:' 'hypopituitary:' 'psych:' 'TSH measured:' 'TSH:'
 'T3 measured:' 'T3:' 'TT4 measured:' 'TT4:' 'T4U measured:' 'T4U:'
 'FTI measured:' 'FTI:' 'TBG measured:' 'TBG:']
4916  vs  4916
2422  vs  2422

In [147]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, matthews_corrcoef, confusion_matrix, make_scorer


def  printClaStatistics(TRUTH_nfold, PREDS_nfold):   
    print("These are the training set statistics:")
    print("The Accuracy is: %7.4f" % accuracy_score(TRUTH_nfold, PREDS_nfold))
    print("The Precision is: %7.4f" % precision_score(TRUTH_nfold, PREDS_nfold, average='weighted'))
    print("The Recall is: %7.4f" % recall_score(TRUTH_nfold, PREDS_nfold, average='weighted'))
    print("The F1 score is: %7.4f" % f1_score(TRUTH_nfold, PREDS_nfold, average='weighted'))
    print("The Matthews correlation coefficient is: %7.4f" % matthews_corrcoef(TRUTH_nfold, PREDS_nfold))
    print(pd.DataFrame(confusion_matrix(TRUTH_nfold, PREDS_nfold)))

## Categorical Naive Bayes

In [148]:
from sklearn.naive_bayes import CategoricalNB

mdl = CategoricalNB(alpha=0.001)

mdl.fit(Xi_train, y_train)

preds=mdl.predict(Xi_test)
for i, p in enumerate(preds):
    print("Case: ", i, '-->' , p) #, "-->", p)

printClaStatistics(y_test, preds)

IndexError: index 65512 is out of bounds for axis 1 with size 65512

Does not accept NaNs, so we need to impute new values, so the data used isn't true to the real data and might compromise the results

## Gaussian Naive Bayes

In [120]:
from sklearn.naive_bayes import GaussianNB

mdl = GaussianNB(alpha=0.001)

print(type(xs_train[3][28]))

mdl.fit(xs_train,y_train)

preds=mdl.predict(xs_test)
for i, p in enumerate(preds):
    print("Case: ", xs_test[i], "-->", p)

TypeError: GaussianNB.__init__() got an unexpected keyword argument 'alpha'